<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link href="#springUrl('/css/bootstrap/bootstrap.css')" rel="stylesheet">
    <link href="#springUrl('/css/font-awesome.css')" rel="stylesheet">
    <link href="#springUrl('/css/carousel-style.css')" rel="stylesheet">
    <link href="#springUrl('/css/buildings.css')" rel="stylesheet">
</head>

<body class="container">
    #parse ("error.vm")
<div class="container">
    #parse ("resources.vm")
</div>
<div class="row">
    $screen_content
</div>


<script src="#springUrl('/js/jquery-2.1.4.min.js')"/>
<script src="#springUrl('/js/jquery.verticalCarousel.js')"/>
<script src="#springUrl('/js/bootstrap.min.js')"/>
<script src="#springUrl('/js/jquery-ui.min.js')"/>

</body>
</html>