#macro(head $title)
    <title>$title</title>
    <link href="#springUrl('/css/bootstrap/bootstrap.css')" rel="stylesheet">
    <link href="#springUrl('/css/font-awesome.css')" rel="stylesheet">
    <link href="#springUrl('/css/carousel-style.css')" rel="stylesheet">
    <link href="#springUrl('/css/buildings.css')" rel="stylesheet">
#end

#macro(body)
    <div class="container">
        $!content
    </div>
#end
