<div class="col-md-2" id="res1">
    <h3>#springMessage('resources.goldAmount'): ${dto.getResourceDto().getGold()}</h3>
</div>
<div class="col-md-2" id="res2">
    <h3>#springMessage('resources.timberAmount'): ${dto.getResourceDto().getTimber()}</h3>
</div>
<div class="col-md-2" id="res3">
    <h3>#springMessage('resources.clayAmount'): ${dto.getResourceDto().getClay()}</h3>
</div>
<div class="col-md-2" id="res4">
    <h3>#springMessage('resources.cornAmount'): ${dto.getResourceDto().getCorn()}</h3>
</div>