#parse("layout/macros.vm")
#head("City Resources")

#@body()
<div class="row">
    <a href="#springUrl('/city/center/')" class="btn btn-primary">#springMessage('city.center')</a>
</div>
<div class="col-md-7">
    <h1>${dto.NickName}'s city resources</h1>
    #showResources(${dto.getResourceDto().getGold()},${dto.getResourceDto().getTimber()},${dto.getResourceDto().getClay()},${dto.getResourceDto().getCorn()})
    <div class="row">
        #foreach($position in [1,2,3,4])
            <div class="col-md-3">
                #showbuilding($dto.getResourceBuildings(), $position )
            </div>
        #end

    </div>

    <div class="row">
        <div class="col-md-3">
            #foreach($position in [5,6])
                   #showbuilding($dto.getResourceBuildings(), $position )
               #end
        </div>

        <div class="col-md-6">
            <div class="central_image res_building_position"></div>
        </div>

        <div class="col-md-3">
            #foreach($position in [7,8])
                 #showbuilding($dto.getResourceBuildings(), $position )
               #end
        </div>

    </div>

    <div class="row">
        #foreach($position in [9,10,11,12])
            <div class="col-md-3">
                        #showbuilding($dto.getResourceBuildings(), $position )
            </div>
        #end
    </div>

</div>

<script type="text/javascript" src="#springUrl('/js/jquery-2.1.4.min.js')"></script>
<script type="text/javascript" src="#springUrl('/js/bootstrap.min.js')"></script>

<script type="text/javascript">

    var availalbeTypes = []
    fillAvailableTypes(availalbeTypes)

    $(function () {
        $("div.building_empty").click(function () {
            var div = $(this);
            var id = $(this).attr('id');
            var position = id;

            $.ajax({
                url: "#springUrl('/city/resources/types')",
                dataType: 'json',
                type: "GET",
                success: function (json) {
                    showPopover(div, json, position)
                },
                error: function (xhr, status, errorThrown) {
                    console.log("Error: " + errorThrown);
                    console.log("Status:" + status);
                    console.dir(xhr);
                },
                complete: function (xhr, status) {
                }
            })

        });

        $("div.container").on("click", "a#popover_item", function (event) {
            event.preventDefault();
            var position = $(this).attr('position');
            var element = $(this).attr('element');

            $.ajax({
                url: "#springUrl('/city/resources/buildings/')",
                contentType: "application/json",
                type: "POST",
                success: function (json) {
                    $("div#square_" +position).removeClass("building_empty");
                    $("div#square_" +position).addClass("res_building_" +$element);
                    destroyPopover(position);
                },
                error: function (xhr, status, errorThrown) {
                    alert("Error occured:" + errorThrown);
                    console.log("Error: " + errorThrown);
                    console.log("Status:" + status);
                    console.dir(xhr);
                }
            })
        })

        $("body").on('click', function () {
            hideAllPopovers();
        })

    });

    function showPopover(element, json, position){
        element.popover({
            title: "Build",
            content: generateListOfLinks(json, position),
            placement: top,
            trigger: "focus",
            html: true
        }).popover('show');
    }

    function destroyPopover(position){
        $("div.building").popover('destroy');
    }

    function hideAllPopovers(){
        $(".popover").each(function(index){
            $(this).popover('hide');
        })
    }

    function generateListOfLinks(json, position){
        var result = '';
        $.each(json, function(index, element){
            result+="<a href='#' id='popover_item' position="+position+" element="+element+">"+element+"</a><br>" ;
        })
        console.log(result);
        return result;
    }

    function fillAvailableTypes() {
        $.ajax({
            url: "#springUrl('/city/resources/types')",
            dataType: 'json',
            type: "GET",
            success: function (types) {
                debugger
                availalbeTypes = types.concat(types)
            },
            error: function (xhr, status, errorThrown) {
                console.log("Error: " + errorThrown);
            }
        })
    }

</script>
#end