#parse("layout/macros.vm")
#head("City Center")

#@body()
#parse("logout_button.vm")
<div class="row">
    <a href="#springUrl('/city/resources/')" class="btn btn-primary">#springMessage('city.resources')</a>
</div>
<div id="message">
</div>

<div class="col-md-7">
	<div class ="row container">
    	<div class ="col-md-7 container info_resources">
    		#showResources(${dto.getResourceDto().getGold()},${dto.getResourceDto().getTimber()},${dto.getResourceDto().getClay()},${dto.getResourceDto().getCorn()})
   		</div>
    </div>
    <div class="row">
        #foreach($position in [1,2,3,4])
            <div class="col-md-3">
                #showbuilding( $dto.getBuildings(), $position )
            </div>
        #end

    </div>

    <div class="row">
        <div class="col-md-3">
            #foreach($position in [5,6])
                   #showbuilding($dto.getBuildings(), $position )
               #end
        </div>

        <div class="col-md-6">
            <div class="central_image building_position"></div>
        </div>

        <div class="col-md-3">
            #foreach($position in [7,8])
                 #showbuilding($dto.getBuildings(), $position )
               #end
        </div>

    </div>

    <div class="row">
        #foreach($position in [9,10,11,12])
            <div class="col-md-3">
                #showbuilding($dto.getBuildings(), $position )
            </div>
        #end
    </div>
</div>

<div class="col-md-2 left_align">
	#addcarousel($buildingTypes)
</div>

<div class="col-md-3 center_align" id="timerstable">
        <div class="row">    
            <div class="col-md-9 info_names">
                 <h3>$dto.getNickName()</h3>
            </div>
            
            <div class="col-md-9 info_names">
                 <h4>Timers:</h4>
            </div>
            
        <div class="col-md-9 info_timers">
        
            #foreach($position in [0,1,2,3,4,5,6,7,8,9,10,11,12])
            	#timer("building", $position)
            #end
           
           
            #foreach($position in [1,2,3,4,5,6,7,8,9,10,11,12])
            	#timer("resource_building", $position)
            #end
        
        </div>
        </div>

        <div class="row">
            <div class="portlet portlet-default chat">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4><i class="fa fa-circle text-green"></i> $dto.getNickName() </h4>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div id="chat" class="panel-collapse collapse in">
                    <div>
                    <div class="portlet-body chat-widget" style="overflow-y: auto; width: auto; height: 300px;">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="media">
                                    <div class="media-body" id="content">
                                        <!-- MESSAGES WILL BE HERE -->
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    </div>
                    <div class="portlet-footer">
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Enter message..." id="textarea"></textarea>
                            </div>
                            <div class="form-line">
                                <div class="dropup">
                                    <button class="col-md-8 btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="selecteduser">Users
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu" id="users">
                                        <!-- USERS WILL BE HERE -->
                                    </ul>
                                    <button type="button" class="btn btn-default pull-right" id="send_btn">Send</button>
                                     <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div>
        
</div>
        </div> 
</div> 

<div class="modal" id="myModal" role="dialog" >
   <div class="modal-dialog modal-sm">

   <!-- Modal content-->
   <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Search user by login</h4>
        </div>
        <div class="modal-body">
           <div>
               <div class="input-group ui-front">
                 <input type="text" class="form-control ui-widget" placeholder="Search for..." id="search_user">
                 <span class="input-group-btn">
                   <button class="btn btn-default" type="button" data-dismiss="modal" id="btn_add_user">Add</button>
                 </span>
               </div><!-- /input-group -->
             </div>
             <div class="clearfix"></div>
        </div>
   </div>

   </div>
</div>

<script type="text/template" class="template">

        <h5>Time: <%- convertTime(rc['time']) %> </h5>
        <h5>Gold: <%- rc['resourceDto']['gold'] %></h5>
        <h5>Timber: <%- rc['resourceDto']['timber'] %></h5>
        <h5>Clay: <%- rc['resourceDto']['clay'] %></h5>
        <h5>Corn: <%- rc['resourceDto']['corn'] %></h5>
        <button class="btn btn-primary lvlUp">Level Up</button>

</script>

<script type="text/template" class="relation_template">

        <li><a class="users"><%- relation['playername2'] %></a></li>

</script>

<script type="text/template" class="adduser_template">

        <li class="divider"></li>
        <li><a id="add_user" data-toggle="modal" data-target="#myModal">add user</a></li>

</script>

<script type="text/template" class="msg_template">
    <% if (message['sender'] == "$dto.getNickName()") { %>
     <h4 class="media-heading">
       <span class="small pull-right"><%-message['time']%></span>
     </h4><br>
     <p class="text-right"><%-message['message']%></p>
    <% } else { %>
     <h4 class="media-heading">
       <span class="small pull-right"><%-message['time']%></span>
     </h4><br>
     <p class="text-left"><%-message['message']%></p>
    <% } %>
    <hr>
</script>
#end

<script src="#springUrl('/js/jquery-ui.min.js')"></script>
<script src="#springUrl('/js/DragDrop.js')"></script>
<script src="#springUrl('/js/ajaxCalls.js')"></script>
<script src="#springUrl('/js/ajaxCallAddBuilding.js')"></script>
<script src="#springUrl('/js/jquery.verticalCarousel.js')"></script>
<script src="#springUrl('/js/timer.js')"></script>
<script src="#springUrl('/js/levelUp.js')"></script>
<script src="#springUrl('/js/underscore.js')"></script>
<script src="#springUrl('/js/chat.js')"></script>
<script type="text/javascript" src="#springUrl('/js/popupUtil.js')"></script>

<script>

	var urls = {
		'addBuilding' : "#springUrl('/city/center/addBuilding')",
		'getBuildingQueue' : "#springUrl('/getBuildingQueue')",
		'changeStatus' : "#springUrl('/changeStatus')",
		'timeInfo' : "#springUrl('/city/center/timeInfo')",
		'checkResources' : "#springUrl('/city/center/checkResources')",
		'levelUp' : "#springUrl('/city/center/levelUp')",
		'getInfo' : "#springUrl('/city/center/getInfo')",
		'getTypeLevel' : "#springUrl('/city/center/getTypeLevel')",
		'sendMessage' : "#springUrl('/sendMessage')",
		'allUsersRelations' : "#springUrl('/allUsersRelations')",
		'allMessagesBetweenTwoUsers' : "#springUrl('/allMessagesBetweenTwoUsers')",
		'allUsers' : "#springUrl('/getAllUsers')",
		'addUser' : "#springUrl('/addUser')"
	};
	
	ajaxCallGetBuildingQueue(urls, "$dto.getNickName()", 'building');

	DragDropBuild("building_karusel","building_empty", urls, "$dto.getNickName()", 'building');
	
     $(function () {
	     $("#carouselId").verticalCarousel({nSlots: 3, speed: 900});
     });
     
     _.templateSettings.variable = "rc";
       var template = _.template(
           $( "script.template" ).html()
       );
        
     levelUpBuilding(urls,"$dto.getNickName()",template,'building');


     _.templateSettings.variable = "message";
        var msg_template = _.template(
                $("script.msg_template").html()
        );

     sendMessage("$dto.getNickName()", urls, msg_template);

     _.templateSettings.variable = "relation";
        var relation_template = _.template(
                     $("script.relation_template").html()
        );

     _.templateSettings.variable = "adduser";
        var adduser_template = _.template(
                          $("script.adduser_template").html()
        );

     ajaxCallGetAllUsersRelations("$dto.getNickName()", urls, relation_template, adduser_template, msg_template);

     var date = new Date();
	 $('body').addClass('time_'+date.getHours());
</script> 
