#parse("layout/macros.vm")
#head("Signin")
#@body()
<link href="#springUrl('/css/login.css')" rel="stylesheet">
<link href="#springUrl('/css/welcome.css')" rel="stylesheet">
<fieldset id="signin_menu">
    <c:url var="loginUrl" value="/login" />
    <form id="signin" action="${loginUrl}" method="post">
        <label for="username">Username</label>
        <input id="username" name ="username"  tabindex="4" type="text" placeholder="Enter username" data-toggle="tooltip" required/>
        <label for="password">Password</label>
        <input id="password" name ="password" tabindex="5" type="password" placeholder="Enter  password" required/>
        <div class="form-actions">
            <input type="submit"
                   class="btn btn-block btn-primary btn-default" value="Log in">
        </div>
    </form>
</fieldset>
#end