div.building_storage {
    background-image: url(../images/storage.png);
}

div.building_gilothome {
    background-image: url(../images/gilothome.png);
}

div.building_townhall {
    background-image: url(../images/townhall.png);
}

div.building_marketplace {
    background-image: url(../images/marketplace.png);
}

div.building_pool {
    background-image: url(../images/pool.png);
}

div.building_factory {
    background-image: url(../images/factory.png);
}

div.building_farm {
    background-image: url(../images/farm.png);
}

div.building_barn {
    background-image: url(../images/barn.png);
}

div.building_school {
    background-image: url(../images/school.png);
}

div.building_mall {
    background-image: url(../images/mall.png);
}

div.building_plant{
    background-image: url(../images/factory.png);
}

div.clock{
    background-image: url(../images/clock.png);
}

div.building_market {
    background-image: url(../images/marketplace.png);
}

div.building_shop {
    background-image: url(../images/farm.png);
}

div.building_null {
    background-image: url(../images/museum39.png);
    height: 310px;
    width: 310px;
}

div.building, div.building_empty {
    background-repeat: no-repeat;
    height: 154px;
    width: 171px;
}

div.central_image {
	background-image: url(../images/central_image.jpg);
	height: 308px;
    width:  335px;
}

div.building_position {
    border-style: outset;
    border-color: orange;
}

div.building_gold {
    background-image: url(../images/gold_mine.png);
}

div.building_timber {
    background-image: url(../images/timber_factory.png);
}

div.building_clay {
    background-image: url(../images/clay_factory.png);
}

div.building_corn {
    background-image: url(../images/corn_field.png);
}

div.res_central_image {
    background-image: url(../images/central_image.jpg);
    height: 308px;
    width:  335px;
}

div.building_karusel {
    border-style: dotted;
    height: 154px;
    width: 157px;
}

div.cursor{
    cursor: move;
}

div.over {
	border-style: outset;
 	border-color: red;
}

div.notover {
    border-style: groove;
}

div.info_names {
    border-style: outset;
    border-color: darkblue;
    width: 200px;
}

div.info_timers {
    border-style: outset;
    border-color: blue;
    width: 200px;
}

div.center_align {
    text-align: center;
}